.resource-bar {
  display: flex;
  justify-content: space-evenly;

  padding: 8px;

  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.buildings-container {
  padding: 0 20px
}

.building {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
